#map{
    height: 500px;
    width: 100%; 
}
 
.comment{
    background-image: url('../images/comment/bg.jpg');
    background-size: cover;
    position: relative;
    padding: 100px 0;
    @media (max-width: 991px){
        padding: 60px 0;
    }
    &:before{
        content: '';
        position: absolute;
        background: rgba(3,50,66,0.9);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        display: block;
        
    }
    .comment_box{
        position: relative;
        .item{
            .item_bg{
                background: rgba(255,255,255,0.1) ;
                padding: 20px 45px;
                border-radius: 0 50px;
                p{
                    color: #fff;
                    font: italic 13px/30px $droid;
                    margin: 0;
                    margin-top: -35px;
                    span{
                        margin-right: 20px;
                        font: 700 60px $droid;
                        color: $basecolor3;
                        position: relative;
                        top: 25px;
                    }
                }
            }
            .item_profile{
                margin-top: 20px;
                .icon_side{
                    padding-right: 40px;
                    a{
                        img{
                            
                        }
                    }
                }
                .media-body{
                    h4{
                        color: #fff;
                        font: normal 14px/1 $mont;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        padding-top: 5px;
                        margin-bottom: 20px;
                    }
                    h6{
                        color: #999;
                        font: italic 12px/1 $droid;
                        position: relative;
                        letter-spacing: 1px;
                        &:before{
                            content: '';
                            position: absolute;
                            top: 38px;
                            left: 0;
                            width: 45px;
                            height: 2px;
                            background: $basecolor3;
                        }
                    }
                }
            }
        }
        .item_left{
            padding-left: 40px;
            padding-right: 50px;
            @media (max-width: 767px){
                margin-bottom: 20px;
                padding: 0 50px;
            }
        }
        .item_right{
            padding-left: 50px;
            padding-right: 40px;
            @media (max-width: 767px){
                padding: 0 50px;
            }
        }
    }
}
